<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Empresas</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Attps</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Stefanini</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Capgemini</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>.Mobi</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BHS</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Squadra</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Apple</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Google</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Microsoft</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Dell</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Amazon</string>
			<key>quantFuncionarios</key>
			<string>300</string>
		</dict>
	</array>
</dict>
</plist>
